@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,400;0,800;1,400;1,800&display=swap');

#root {
    flex-direction: column;
}

input[type="text"] {
    border: 1px solid white;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    color: white;
}

.bgc-dark {
    background-color: #2D2D2D;
}